@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

/* Logo-removebg-preview 1 */
#logo{
  /* position: absolute; */
  width: 318px;
  height: 123px;
  background: url(../img//Logo-removebg-preview\ .png);
  background-size: 20vw;
  background-position: center;
  background-repeat: no-repeat;
}